/* TO REMOVE LATER */
/* * {
    border: solid black;
} */ 

body {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Londrina Shadow', cursive;
}

#title h1 {
    font-size: 3em;
}

#title h1 span:nth-child(5n + 1) {
    color: #7e31dd;
}

#title h1 span:nth-child(5n + 2) {
    color: #EC2A9F;
}

#title h1 span:nth-child(5n + 3) {
    color: #FEDE0C;
}

#title h1 span:nth-child(5n + 4) {
    color: #009DD2;
}

#title h1 span:nth-child(5n + 5) {
    color: #00CEB2;
}

#top-section {
    font-family: 'Klee One', cursive;
    display: flex;
    justify-content: space-around;
    position: relative;
    padding-bottom: 10px;
}

#point-counter, #countdown {
    width: 25%;
    border: solid black;
    border-radius: 25px;
}

#point-counter {
    background-color: #ffc500;
}

h2, h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

#action-area {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    border: solid;
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#left-branch {
    height: 20px;
    width: 100%;
    background-color: #786d3e;
    position: absolute;
    bottom: 300px;
}

#flying-objects {
    height: 350px;
    /* overflow: hidden; */
}

.donut {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: greenyellow;
    position: absolute;
}

#see-saw {
    height: 15px;
    width: 100%;
    background-color:#aab1b0;
    position: absolute;
    bottom: 0;
}

#character1 {
    height: 30px;
    width: 30px;
    background-color: red;
    position: absolute;
    bottom: 15px;
    left: 50%;
}

.popup-text {
    position:absolute;
} 

#game-over {
    display: none;
    position:absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    background-color: grey;

}

#game-over-screen {
    display: none;
    position: absolute;
    z-index: 10;
    opacity: 1;
    height: 250px;
    width: 250px;
    background-color: #ffc500;
}

#game-over-text {
    display: none;
}

footer {
    font-family: 'Klee One', cursive;
}