/* TO REMOVE LATER */
/* * {
    border: solid black;
} */ 

body {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Londrina Shadow', cursive;
}

#title h1 {
    font-size: 3em;
}

#top-section {
    font-family: 'Klee One', cursive;
    display: flex;
    justify-content: space-around;
    position: relative;
}

#point-counter, #countdown {
    width: 25%;
    border: solid black;
}

#point-counter {
    background-color: #ffc500;
}

h2, h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

#action-area {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    border: solid;
    position: relative;
}

#left-branch {
    height: 20px;
    width: 100%;
    background-color: #786d3e;
    position: absolute;
    bottom: 300px;
}

#flying-objects {
    height: 350px;
}

.donut {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: greenyellow;
    position: absolute;
}

#see-saw {
    height: 15px;
    width: 100%;
    background-color:#aab1b0;
    position: absolute;
    bottom: 0;
}

#character1 {
    height: 30px;
    width: 30px;
    background-color: red;
    position: absolute;
    bottom: 15px;
    left: 50%;
}

.popup-text {
    position:absolute;
} 